* { box-sizing: border-box; }
body { 
    padding: 20px 0;
    font-family: 'Verdana', sans-serif;
 }

.test {
    display: flex;
    flex-direction: row;
    max-height: 100vh
}

.header {
    align-items: center;
    margin-bottom: 10%;
    margin-left: 25%;

}